<h2>Money Transaction</h2>
<div>Balance Amount: ${{balance}}</div>
<div>
  <label for="transactionType">Transaction Type:</label>
  <select id="transactionType" [(ngModel)]="transactionType">
    <option value="withdraw">Withdraw</option>
    <option value="deposit">Deposit</option>
    <option value="transact">Transact</option>
  </select>
</div>
<div>
  <label for="amount">Amount:</label>
  <input type="number" id="amount" min="1" [(ngModel)]="amount" required>
</div>
<div>
  <label for="receiver-id">Receiver Id:</label>
  <input type="text" id="receiver-id" [disabled]="transactionType !== 'transact'" [(ngModel)]="receiver_account_number">
</div>
<div>
  <button (click)="performTransaction()">Submit</button>
</div>

<h3>Transaction History</h3>
<table>
  <tr>
    <th>Id</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Receiver Id</th>
  </tr>
  <tr *ngFor="let transaction of transactionHistory">
    <td> {{transaction.id}}.</td>
    <td> {{ transaction.type }} </td>
    <td>${{ transaction.amount }}</td>
    <td>{{ transaction.date }}</td>
    <td>{{transaction.receiver_account_number}}</td>
  </tr>
</table>