<div class="top-section">
    <img src="../../assets/relanto.png" width="50" height="50">
    <h1>Relanto Banking Corporation</h1>
</div>
<nav>
    <ul>
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a routerLink="/transfer">Fund Transfer</a></li>
        <li><a routerLink="/payments">Bill Payments</a></li>
        <label for="req" class="dropdown">Request</label>
        <select [(ngModel)]="selectedOption" id="req" (click)="onOptionSelected()" class="dropdown">
            <option value="" disabled>Service</option>
            <option value="checkbook">Checkbook</option>
            <option value="card">ATM Card</option>
        </select>
    </ul>

</nav>