<section class="available">
    <h2>Available Bill Payment Providers</h2>
    <div *ngFor="let provider of filteredProviders(true)" class="provider-container">
        <h3>{{provider.name}}</h3>
        <div>{{provider.description}}</div>
        <button (click)="updateProvider($event)" [id]="provider.id">Register for Service</button>
    </div>
</section>
<section class="registered">
    <h2>Registered Bill Payment Providers</h2>
    <div *ngIf="filteredProviders(false).length === 0" class="placeholder-message">
        No services have been registered.
    </div>
    <div *ngFor="let provider of filteredProviders(false)" class="provider-container">
        <h3>{{provider.name}}</h3>
        <div>{{provider.description}}</div>
        <button (click)="updateProvider($event)" [id]="provider.id" class="unregister-button">Unregister</button>
    </div>
</section>