<form [formGroup]="cardRequestForm" (ngSubmit)="submitForm()">
    <div class="form-container">
        <div class="form-header">ATM Card Request</div>
        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" formControlName="fullName" required>
            <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                <p *ngIf="fullName.errors?.['required']">Full Name is required</p>
            </div>
        </div>
        <div>
            <label for="accountNumber">Account Number:</label>
            <input type="text" id="accountNumber" name="accountNumber" formControlName="accountNumber" required>
            <div *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched)">
                <p *ngIf="accountNumber.errors?.['required']">Account Number is required</p>
                <p *ngIf="accountNumber.errors?.['pattern']">Account Number has to be 12 digits.</p>
            </div>
        </div>
        <div>
            <label for="address">Address:</label>
            <textarea id="address" name="address" formControlName="address" required></textarea>
            <div *ngIf="address.invalid && (address.dirty || address.touched)">
                <p *ngIf="address.errors?.['required']">Address is required</p>
            </div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" formControlName="email" required email>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <p *ngIf="email.errors?.['required']">Email is required</p>
                <p *ngIf="email.errors?.['email']">Please enter a valid email address</p>
            </div>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" required>
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                <p *ngIf="phoneNumber.errors?.['required']">Phone Number is required</p>
                <p *ngIf="phoneNumber.errors?.['pattern']">Phone Number has to be 10 digits.</p>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="cardRequestForm.invalid">Submit</button>
        </div>
        <div *ngIf="showSuccessMessage" class="success-message" style="text-align: center;">
            Your form has been submitted successfully!
        </div>
    </div>
</form>