<div class="form-container">
    <div class="form-header">Request Cheque Book</div>
    <form [formGroup]="chequebookRequestForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
            <label for="accountNumber">Account Number:</label>
            <input type="text" id="accountNumber" name="accountNumber" class="form-control"
                formControlName="accountNumber">
            <div *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched)" class="error-message">
                <div *ngIf="accountNumber.errors?.['required']">Account Number is required.</div>
                <div *ngIf="accountNumber.errors?.['pattern']">Account Number has to be 12 digits.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="numberOfCheques">Number of Cheques:</label>
            <input type="number" id="numberOfCheques" name="numberOfCheques" class="form-control"
                formControlName="numberOfCheques" min="1">
            <div *ngIf="numberOfCheques.invalid && (numberOfCheques.dirty || numberOfCheques.touched)"
                class="error-message">
                <div *ngIf="numberOfCheques.errors?.['required']">Number of Cheques is required.</div>
                <div *ngIf="numberOfCheques.errors?.['min']">Number of Cheques must be at least 1.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="chequebookRequestForm.invalid">Submit</button>
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>
    </form>
</div>